#projectsPage {
  font-family: 'Inter', sans-serif;
}
.modal-lg {
  color: #111;
}
.modal-content {
  font-family: 'Mulish', sans-serif;
}
.modal-header {
  letter-spacing: 1px;
}
.languages {
  display: flex;
}
.languageLogo svg {
  font-size: 40px;
  margin: 10px;
}
.projectLink {
  font-size: 36px;
  margin: 10px;
  transition: all 0.1s ease-in-out;
}
.projectLink:hover {
  color: #ff6347;
}
.embed iframe {
  border: 1px solid #111;
}
.singleProjectName {
  z-index: 100;
  position: absolute;
  top: 0;
  margin: 10px;
  font-size: 200%;
  font-family: 'inter', sans-serif;
}
.singleProjectEmbed iframe {
  width: 100%;
  height: 250px;
  border: 1px solid #ffffff;
}
.singleProjectCarousel {
  border: 1px solid #ffffff;
}
