body {
  margin: 0;
  width: 100vw;
  background-color: #1d1d1d;
  color: #ffffff;
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  --toastify-color-light: #1d1d1d;
  --toastify-color-success: #ff6347;
  --toastify-icon-color-success: #ff6347;
  --toastify-color-progress-success: #ff6347;
  overflow-x: hidden;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
