body {
  margin: 0;
  width: 100vw;
  background-color: #1d1d1d;
  color: #ffffff;
  font-family: 'Mulish', sans-serif;
  --toastify-color-light: #1d1d1d;
  --toastify-color-success: #ff6347;
  --toastify-icon-color-success: #ff6347;
  --toastify-color-progress-success: #ff6347;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
